// Global default params, used in configs
params {
  sample_csv = ""
  fastqs_path = ""
  gex_path = ""
  check_whitelist = true
  make_pdf = true
  plot_cumulative = false
  dispr_filter = 0.1
  ss_out = "Gene"
  barm_csv = ""
  project_tag = ""
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv'
}

process {
  
  container = '/nfs/cellgeni/singularity/images/larry-0.2.0.sif'

  errorStrategy = { task.exitStatus == 130 ? 'retry' : 'terminate' }
  maxRetries    = 4

  withName: CONCAT_FASTQS {
    cpus = 1
    memory = { 0.5.GB * task.attempt }
    queue = "normal"
  }
  
  withName: FIND_LARRY_SEQS {
    cpus = 4
    memory = { 8.GB * task.attempt }
    queue = "normal"
  }

  withName: LARRY_QC {
    cpus = 1
    queue = "normal"
  }

  withName: ASSIGN_CLONES {
    cpus = 1
    memory = { 4.GB * task.attempt }
    queue = "normal"
  }

  withName: MATCH_GEX {
    cpus = 1
    queue = "normal"
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   overwrite = true
   file = "larry-reports-${params.project_tag}/timeline.html"
}

report {
   enabled = true
   overwrite = true
   file = "larry-reports-${params.project_tag}/report.html"
}

trace {
   enabled = true
   overwrite = true
   file = "larry-reports-${params.project_tag}/trace.txt"
}

workDir = "nf-work"